* {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
}

body {
  background: white;
  min-width: 600px;
  padding: 0 0 40px 0;
}

header {
  width: 600px;
  padding: 27px 0 35px;
  text-align: center;
  margin: 0 auto;
}
header > h1 {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
  font-weight: normal;
  font-size: 40px;
  color: #007EFF;
}
header > h2 {
  font-weight: normal;
  font-size: 18px;
  color: #394E6E;
  width: 380px;
  margin: 5px auto 0;
}

/* More specific than the original style */
body > div#DynamicsInteractivePanel {
  position: absolute;
  left: 50%;
  top: 140px;
  margin-left: -292px;
  border: none;
  box-shadow: none;
}
body > div#DynamicsInteractivePanel > div.title {
  display: none;
}
body > div#DynamicsInteractivePanel > div.resizeButton {
  display: none;
}

section {
  position: relative;
  width: 564px;
  margin: 0 auto;
}

section.demo {
  margin-top: 360px;
  height: 114px;
}
div.track {
  position: absolute;
  top: 50%;
  left: 125px;
  width: 350px;
  height: 1px;
  background: #e0effe;
  -webkit-transition: width .25s ease-in-out;
}
div.track.tiny {
  width: 50px;
}
div.track > span.circle {
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  background: white;
  border: 1px solid #e0effe;
  border-radius: 5px;
  top: -5px;
}
div.track > span.circle0 { left: -5px; }
div.track > span.circle1 { right: -5px; }
div.track > span.index {
  top: 24px;
  left: -3px;
  font-size: 10px;
  color: #8096B1;
  position: absolute;
}
div.track > span.index1 {
  left: auto;
  right: -3px;
}
div.circle {
  position: absolute;
  top: 40px;
  left: 108px;
  width: 34px;
  height: 34px;
  background: #007EFF;
  border-radius: 17px;
}

section.code {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #F4F9FF;
  padding: 17px;
  overflow: hidden;
  white-space: pre-wrap;
  font-family: Menlo, Courier, Arial;
  font-size: 12px;
  color: #496281;
  line-height: 14px;
}
section.code strong {
  font-family: Menlo, Courier, Arial;
  font-weight: bold;
}
