* {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
}

body {
  background: white;
  min-width: 600px;
  padding: 0 20px 40px 20px;
}

header {
  width: 600px;
  padding: 27px 0 35px;
  text-align: center;
  margin: 0 auto;
}
header > h1 {
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial;
  font-weight: normal;
  font-size: 40px;
  color: #007EFF;
}
header > h2 {
  font-weight: normal;
  font-size: 18px;
  color: #394E6E;
  width: 380px;
  margin: 5px auto 0;
}

section {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

div.graph {
  position: relative;
  height: 350px;
  width: 350px;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}
div.graph > span {
  font-size: 10px;
  color: #8096B1;
  position: absolute;
  left: 356px;
}
div.graph > span.index1 { top: 112px; }
div.graph > span.index0 { top: 228px; }

canvas {
  background: #F4F9FF;
}

div.settings {
  position: absolute;
  top: 20px;
  right: 0;
  width: 205px;
  -webkit-user-select: none;
  -moz-select: none;
  user-select: none;
}
div.settings select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 27px;
  border-radius: 5px;
  padding: 6px;
  color: #fff;
  font-size: 13px;
  margin-bottom: 15px;
  text-align: center;
  background: #007EFF url(arrows.png) no-repeat 190px 9px;
  background-size: 5px 8px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)
{
  div.settings select {
    background-image: url(arrows@2x.png);
  }
}
div.settings select:focus {
  outline: none;
  background-color: #394E6E;
}
div.settings label {
  float: left;
  color: #394E6E;
  font-size: 13px;
}
div.settings .value {
  float: right;
  color: #394E6E;
  font-size: 13px;
  margin-bottom: 4px
}

div.slider {
  clear: both;
  position: relative;
  width: 100%;
  height: 20px;
  margin-bottom: 7px;
}
div.slider .bar {
  position: absolute;
  top: 4px;
  left: 0;
  background: #e0effe;
  height: 3px;
  width: 100%;
  border-radius: 3px;
}
div.slider .control {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  height: 7px;
  width: 7px;
  border: 2px solid #007EFF;
  border-radius: 6px;
}

section.demo {
  height: 114px;
}
div.track {
  position: absolute;
  top: 50%;
  left: 125px;
  width: 350px;
  height: 1px;
  background: #e0effe;
  -webkit-transition: width .25s ease-in-out;
}
div.track.tiny {
  width: 50px;
}
div.track > span.circle {
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  background: white;
  border: 1px solid #e0effe;
  border-radius: 5px;
  top: -5px;
}
div.track > span.circle0 { left: -5px; }
div.track > span.circle1 { right: -5px; }
div.track > span.index {
  top: 24px;
  left: -3px;
  font-size: 10px;
  color: #8096B1;
  position: absolute;
}
div.track > span.index1 {
  left: auto;
  right: -3px;
}
div.circle {
  position: absolute;
  top: 40px;
  left: 108px;
  width: 34px;
  height: 34px;
  background: #007EFF;
  border-radius: 17px;
}

section.code {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #F4F9FF;
  padding: 17px;
}
section.code {
  white-space: pre;
  font-family: Menlo, Courier, Arial;
  font-size: 12px;
  color: #496281;
  line-height: 14px;
}
section.code strong {
  font-family: Menlo, Courier, Arial;
  font-weight: bold;
}
