* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial;
  -webkit-user-select: none;
}

body {
  background: gray;
}

canvas {
  margin: 20px;
  background: #fff;
}

div.circle {
  position: absolute;
  top: 440px;
  left: 20px;
  width: 38px;
  height: 38px;
  background: red;
  border: 6px solid white;
  border-radius: 25px;
}

div.options {
  position: absolute;
  top: 20px;
  left: 440px;
}

div.options label {
  float: left;
  color: #fff;
  font-size: 13px;
}
div.options .value {
  float: right;
  color: rgba(255, 255, 255, .7);
  font-size: 13px;
  margin-bottom: 5px
}

div.slider {
  clear: both;
  position: relative;
  width: 200px;
  height: 20px;
}
div.slider .bar {
  position: absolute;
  top: 3px;
  left: 0;
  background: rgba(255, 255, 255, .3);
  height: 4px;
  width: 100%;
  border-radius: 2px;
}
div.slider .control {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  height: 10px;
  width: 10px;
  border-radius: 5px;
}